.EditProfile{
    background-color: #f5f5f7;
    margin-top: 80px;
}

   .text-title{
    display: flex;
    width: 84vw;
    height: 10vh;
    margin: 0.2vw 8vw 0 8vw; 
    align-items: center;
    justify-content: space-between;
    font-family: "Pangea Trial" ;
   }

   .text-title button{
    background-color: #BAE84D;
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
   }

   .text-title h1{
    font-size: 1rem;
    color: #656565;
   }

.main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

   .left-box{
    display: grid;
    width: 30%;
    height: 75vh;
    padding: 1vh 0.5vw;
    background-color: white;
    border-radius: 5%;
    box-shadow:  0.2vw 0.2vw lightgrey;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
    border-radius: 0.5rem;
background: #FFF;

/* Shadew 2 */
box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
   }

   .right-box{
    display: grid;
    width: 50%; 
    height: 75vh;   
    background-color: white;
    border-radius: 5%;
    box-shadow: 0.2vw lightgrey;
    padding: 1vh 0.5vw;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
    border-radius: 0.5rem;
background: #FFF;

/* Shadew 2 */
box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
   }


   .details{
    grid-column: 1/5;
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
   .photo{
    grid-column: 1/2;
    grid-row: 2/5;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    width: 5rem;
    height: 5rem;
    border-radius: 0.375rem;
    background: #D9D9D9;
   }
   .userid{
    grid-column: 2/5; 
    grid-row: 3/4; 
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .userid input{
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
   }

   .name{
    grid-column: 1/4;
    grid-row: 4/5; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

   }

   .name input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .age{
    grid-column: 4/5;
    grid-row: 4/5; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .age input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .course-ep{
    grid-column: 1/3; 
    grid-row: 5/6; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .course-ep input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .branch{
    grid-column: 3/5;
    grid-row: 5/6; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .branch input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .interest{
    grid-column: 1/5;
    grid-row: 6/7; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .interest input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .institute{
    grid-column: 1/5;
    grid-row: 9/10; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .institute input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   #institute{
    width: auto;
   }

   .email{
    grid-column: 1/5;
    grid-row: 10/11; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }
   #email{
    width: auto;
   }

   .email input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .expertise{
    grid-column: 1/5;
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Pangea Trial";
    color: #656565;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }

   .experience input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

   .skill{
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.skill input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

    .level{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    grid-column: 3/6; 
    grid-row: 2/3; 
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.level input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }

.experience{
    display: flex;
    flex-direction: column;
    grid-column: 1/6;
    grid-row: 3/4; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
   }

   .experience input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
   }
   
.tool{
    grid-column: 1/3; 
    grid-row: 4/5; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-transform: uppercase; */
}


.skill-ep{
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #BAE84D;
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    padding-top: 7px;
    padding-left: 15px;
}

.left-box input{
    width: 12.5vw;
    background-color: #f5f5f7;
}

.right-box input{
    background-color: #f5f5f7;
    width: 21.5vw;
}
.tool input{
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #D3D3D3;
    background: #F5F5F7;
    /* width: 41rem; */
   }

    textarea{
        background-color: #f5f5f7;
        width: 49vw;
        height: 5vw;
        resize: none;
    }

#interest{
    width: auto;
}

.added{
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.skills-add{
    grid-row: 8/9;
    grid-column: 1/8;
}

.skill-container{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.skill-card-ep{
    display: flex;
    padding: 0.375rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1.25rem;
    border: 1px solid #D3D3D3;
    color: #656565;
    font-family: "Pangea Trial";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skill-card-ep span{
    border: none;
    background: #FFF;
    display: flex;
}

.skill-card-ep span p{
    color: #D3D3D3;
    margin: 0;
    padding-left: 10px;
    cursor: pointer;
}
/* 
.skill-container button{
    background-color: #f5f5f7;
    width: fit-content;
} */

@media(max-width: 1000px){
    .name{
        grid-column: 1/5;
        grid-row: 4/5;
        margin-top: 15px;
    }
    
    .age{
        grid-column: 1/5;
        grid-row: 5/6;
        
    }
    
    .course-ep{
        grid-column: 1/5;
        grid-row: 6/7;
    }
    
    .branch{
        grid-column: 1/5;
        grid-row: 7/8;
    }
    
    .interest{
        grid-column: 1/5;
        grid-row: 8/9;
    }
}

@media(max-width: 650px){
    .main-box{
        flex-direction: column;
        gap: 1rem;
    }
    
    .left-box{
        width: 30rem;
        padding-left: 20px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .left-box input{
        width: auto;
        margin-right: 15px;
    }
    
    .right-box{
        width: 30rem;
        padding-left: 20px;
        margin-left: 14px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .right-box input{
        width: auto;
        margin-right: 10px;
    }

    .name{
        grid-column: 1/4;
        grid-row: 4/5;
        margin-top: 12px;
    }
    
    .age{
        grid-column: 1/5;
        grid-row: 5/6;
        
    }
    
    .course-ep{
        grid-column: 1/5;
        grid-row: 6/7;
    }
    
    .branch{
        grid-column: 1/5;
        grid-row: 7/8;
    }
    
    .interest{
        grid-column: 1/5;
        grid-row: 8/9;
        width: auto;
    }

    textarea{
        width: 25rem;
        height: 4rem;
    }

    
}

