.profile {
  display: flex;
}

.profile_nav{
  margin-top: 3%;
  width:50vh;
  display:flex;
  margin-left:20%;
}

.profile_pjt_view{
  color: #656565;
font-family: "Pangea Trial";
font-size: 24px;
font-style: normal;
font-weight: 400;
width:15%;
line-height: normal;

}
.profile_complete_btn{
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
background: #BAE84D;
height:20px;
margin-left:10%;
}
.profile_ongoing_btn{
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  margin-left:150%;
  
}
.profile-box{
  margin-top: 10%;
  margin-left: 10%;
}
.profile-box-1{
  height: 10vh;
  width:10vh;
  background-color: aliceblue;
}
