.profile-nav {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.profile-nav .frame-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 24px;
  position: relative;
}

.profile-nav .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.profile-nav .text-wrapper-3 {
  color: #646464;
  flex: 1;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.profile-nav .img-2 {
  height: 30px;
  position: relative;
  width: 14px;
}

.profile-nav .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.profile-nav .frame-5 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  gap: 17px;
  position: relative;
  width: 267px;
}

.profile-nav .ellipse {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 60px;
  position: relative;
  width: 60px;
}

.profile-nav .frame-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.profile-nav .text-wrapper-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.profile-nav .element-followers {
  align-self: stretch;
  color: #919191;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.profile-nav .span {
  color: #919191;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.profile-nav .text-wrapper-5 {
  font-family: "Pangea Trial-Medium", Helvetica;
  font-weight: 500;
}

.profile-nav .frame-7 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 267px;
}

.profile-nav .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.profile-nav .badge {
  align-items: center;
  background-color: #edecff;
  border-radius: 14px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 2px 6px;
  position: relative;
}

.profile-nav .text {
  color: #000000;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.profile-nav .badge-2 {
  align-items: center;
  background-color: #fff1e3;
  border-radius: 14px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 2px 6px;
  position: relative;
}

.profile-nav .frame-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.profile-nav .frame-10 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 267px;
}

.profile-nav .icon-park-outline {
  height: 20px;
  position: relative;
  width: 20px;
}

.profile-nav .text-wrapper-6 {
  color: #000000;
  flex: 1;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.profile-nav .frame-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.profile-nav .mingcute-school-line {
  height: 20px;
  position: relative;
  width: 20px;
}

.profile-nav .indian-institute-of {
  color: #000000;
  flex: 1;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.profile-nav .vector {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.profile-nav .text-wrapper-7 {
  color: #919191;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 267px;
}

.profile-nav .frame-12 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
  padding: 24px;
  position: relative;
}

.profile-nav .frame-13 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 267px;
}

.profile-nav .vector-2 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 267px;
}

.profile-nav .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.profile-nav .frame-15 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 267px;
}

.profile-nav .frame-16 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .rectangle-2 {
  border: 1px solid;
  border-color: #000000;
  height: 6px;
  left: 6px;
  position: relative;
  top: 6px;
  transform: rotate(45deg);
  width: 6px;
}

.profile-nav .text-wrapper-8 {
  color: #000000;
  flex: 1;
  font-family: "Pangea Trial-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.profile-nav .frame-17 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-18 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 267px;
}

.profile-nav .frame-19 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-20 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-21 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-22 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-23 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-24 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-25 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-26 {
  height: 18px;
  position: relative;
  width: 18px;
}

.profile-nav .frame-27 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--shadew);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 24px;
  position: relative;
}

.profile-nav .text-wrapper-9 {
  color: #646464;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 241px;
}

.profile-nav .frame-28 {
  align-items: flex-start;
  background-color: #b9e74d;
  border-radius: 8px;
  box-shadow: var(--shadew);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 24px;
  position: relative;
}

.profile-nav .text-wrapper-10 {
  color: #000000;
  font-family: "Pangea Trial-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 241px;
}

.profile-nav .section-1 {
  box-shadow: var(--shadew-2);
  height: 530px;
}

.profile-nav .section-2 {
  box-shadow: var(--shadew);
  height: 78px;
}

.profile-nav .property-1-4-section-1 {
  box-shadow: var(--shadew);
  height: 78px;
}

.profile-nav .property-1-4-section-2 {
  box-shadow: var(--shadew-2);
  height: 530px;
}

.profile-nav .frame-2.section-2 .frame-4 {
  margin-bottom: -24px;
}

.profile-nav .frame-2.section-2 .icon-park-outline {
  margin-left: -3693px;
  margin-top: -914px;
}

.profile-nav .frame-2.section-2 .mingcute-school-line {
  margin-left: -3693px;
  margin-top: -942px;
}

.profile-nav .frame-2.section-2 .vector {
  margin-left: -3669px;
  margin-top: -452px;
}

.profile-nav .frame-2.section-2 .text-wrapper-7 {
  margin-bottom: -24px;
}

.profile-nav .frame-12.property-1-4-section-1 .vector-2 {
  margin-left: -3334px;
  margin-top: -1204px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-14 {
  margin-bottom: -24px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-17 {
  margin-left: -3109px;
  margin-top: -1372px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-20 {
  margin-left: -3109px;
  margin-top: -1448px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-22 {
  margin-left: -3109px;
  margin-top: -1486px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-24 {
  margin-left: -3109px;
  margin-top: -1524px;
}

.profile-nav .frame-12.property-1-4-section-1 .frame-26 {
  margin-left: -3109px;
  margin-top: -1562px;
}
