.con-boss{
    display: flex;
    width: 50rem;
    height: 50rem;
    padding: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    background: #FFF;
}