.About-boss{
  width: 100%;
}

.Navbar-abt{
    top: 0;
    left: 0;
    position: fixed;
    background: #FFF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 27px 16px 0px rgba(0, 0, 0, 0.02), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
  }
  
  .querie,
  .course {
    display: flex;
    align-items: center;
    height: 48px;
    padding:10px 20px;
    border-radius: 4px;
    font-family: "Pangea Trial";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    color: #000;
  }
  .About-logo{
    margin-left: 5%;
    font-weight: 600;
    color: #000;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .querie {
    height: auto;
    width: 30px;
    margin-left: 40%; /* Add right margin for spacing */
  }
  
  .course {
    background-color: #BAE84D;
    height: auto;
    margin-right: 8%; /* Add right margin for spacing */
  }
  
  .querie:visited,
  .course:visited {
    color: inherit;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .Navbar-abt{
        top: 0;
        left: 0;
        position: fixed;
        background: #FFF;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 27px 16px 0px rgba(0, 0, 0, 0.02), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
      }

      .About-logo{
        margin-left: 5%;
        font-weight: 600;
        color: #000;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .querie {
        display: flex;
        align-items: center;
        height: 48px;
        padding:10px 20px;
        border-radius: 4px;
        font-family: "Pangea Trial";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        height: auto;
        width: 30px;
        margin-left: 30%; /* Add right margin for spacing */
      }
      
      .course {
        display: flex;
        align-items: center;
        height: 48px;
        padding:10px 20px;
        border-radius: 4px;
        font-family: "Pangea Trial";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        background-color: #BAE84D;
        height: auto;
        margin-right: 8%; /* Add right margin for spacing */
      }

      .well-header{
        width: 80vw;
      }

      .well-btn{
        padding-left: 12vw;
      }

      .more {
        display: flex;
        gap: 2rem;
        margin: 40px;
        margin-top: 10rem;
    }
  }

  /* MAIN CONTETN  */
  
.welcome{
  display: inline-flex;
  /* align-items: center; */
  gap: 4.125rem;
  width: 100%;
  justify-content: space-between;
  margin-right: 0px;
  margin-top: 7rem;
}

.well-content{
  display: flex;
  width: 44.75rem;
  height: 31.8125rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 40px;
}

.well-btn{
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.sign-up{
  display: flex;
  padding: 1.5rem 1.25rem;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #BAE84D;
  cursor: pointer;

/* Shadew 2 */
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
  color: #000;
  font-family: "Pangea Trial";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.log{
  display: flex;
  text-decoration: none;
  width: 5.75rem;
  height: 2.7rem;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #FFF;
  border: none;
  cursor: pointer;
  
  /* Shadew 2 */
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
  color: #000;
  font-family: "Pangea Trial";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.well-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.well-header{
  color: #000;
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.well-write{
  color: #656565;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.well-img{
  height: 43.125rem;
  z-index: -1;
  filter: drop-shadow(-7px 22px 50px rgba(0, 0, 0, 0.10)) drop-shadow(-28px 87px 91px rgba(0, 0, 0, 0.09)) drop-shadow(-62px 195px 123px rgba(0, 0, 0, 0.05)) drop-shadow(-110px 347px 146px rgba(0, 0, 0, 0.01)) drop-shadow(-172px 543px 159px rgba(0, 0, 0, 0.00));
  /* transform: translateY(-50%); */
  animation: enterFromRight 1.5s ease-out;
}

@keyframes enterFromRight {
  0% {
    transform: translateX(100%); /* Start from the right side of the screen */
  }
  100% {
    transform: translateX(0); /* Move to the final position */
  }
}

/* MORE CONTENT  */

.more{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 3rem;
  margin: 40px;
  margin-top: 14rem;
  
}

.more-boxes{
  display: inline-flex;
  padding: 2rem 2rem 2.625rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.0625rem;
  border-radius: 0.5rem;
  background: #FFF;
  
  /* Shadew 2 */
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
}


.more-img2{
  width: 23vw;
}

.more-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  color: #929292;
  font-family: "Pangea Trial";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* text-transform: uppercase; */
  align-self: stretch;
}

.more-para{
  display: flex;
  width: 22.6875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  color: #000;
  font-family: "Pangea Trial";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.more-img img{
  border-radius: 0.75rem;
  border: 1px solid #D3D3D3;
  /* background: url(<path-to-image>), lightgray -7.898px -6.109px / 102.385% 104.532% no-repeat; */
  
  /* Shadew 3 */
  box-shadow: -3px 24px 24px 0px rgba(0, 0, 0, 0.05), -13px 97px 39px 0px rgba(0, 0, 0, 0.01), -20px 152px 43px 0px rgba(0, 0, 0, 0.00);
  width: 22.6875rem;
  height: 21.0625rem;
  flex-shrink: 0;
}

.more-img2 img{
  border-radius: 0.75rem;
  border: 1px solid #D3D3D3;
  /* background: url(<path-to-image>), lightgray -7.898px -6.109px / 102.385% 104.532% no-repeat; */
  
  /* Shadew 3 */
  box-shadow: -3px 24px 24px 0px rgba(0, 0, 0, 0.05), -13px 97px 39px 0px rgba(0, 0, 0, 0.01), -20px 152px 43px 0px rgba(0, 0, 0, 0.00);
  width: 22.6875rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.more-frame{
  display: inline-flex;
  align-items: flex-start;
  gap: 0.90106rem;
  margin-top: 2rem;
}

.more-img3 img{
  border-radius: 0.75rem;
  border: 1px solid #D3D3D3;
  /* background: url(<path-to-image>), lightgray -7.898px -6.109px / 102.385% 104.532% no-repeat; */
  
  /* Shadew 3 */
  box-shadow: -3px 24px 24px 0px rgba(0, 0, 0, 0.05), -13px 97px 39px 0px rgba(0, 0, 0, 0.01), -20px 152px 43px 0px rgba(0, 0, 0, 0.00);
  width: 22.6875rem;
  height: 18.5rem;
  margin-top: 20px;
  flex-shrink: 0;
}

.more-frame{
  display: inline-flex;
  align-items: flex-start;
  gap: 0.90106rem;
  margin-top: 2rem;
}

.more-div1{
  display: flex;
  width: 11.62369rem;
  padding: 1.08125rem 0.90106rem;
  align-items: center;
  gap: 0.4505rem;
  border-radius: 0.36044rem;
  background: #FFF;
  box-shadow: 0px 2.163px 5.046px 0px rgba(0, 0, 0, 0.03), 0px 8.65px 8.65px 0px rgba(0, 0, 0, 0.03), 0px 34.601px 13.696px 0px rgba(0, 0, 0, 0.00), 0px 54.064px 15.138px 0px rgba(0, 0, 0, 0.00);
  color: #000;
  font-family: "Pangea Trial";
  font-size: 0.81094rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.more-div2{
  display: flex;
  padding: 1.08125rem 0.90106rem;
  justify-content: center;
  align-items: center;
  gap: 0.4505rem;
  border-radius: 0.36044rem;
  background: #BAE84D;
  box-shadow: 0px 2.163px 5.046px 0px rgba(0, 0, 0, 0.03), 0px 8.65px 8.65px 0px rgba(0, 0, 0, 0.03), 0px 34.601px 13.696px 0px rgba(0, 0, 0, 0.00), 0px 54.064px 15.138px 0px rgba(0, 0, 0, 0.00);
  color: #000;
  font-family: "Pangea Trial";
  font-size: 0.81094rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PLZ LOGIN  */
.abt-login{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  /* margin: 3rem 42rem; */
  margin-left: 50vw;
}

.bottom-log1{
  display: flex;
  width: 12.6875rem;
  text-decoration: none;
  height: 3rem;
  padding: 0.5rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.375rem;
  border: 2px solid #BAE84D;
  background: rgba(186, 232, 77, 0.50);
  color: #000;
  font-family: "Pangea Trial";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.bottom-log2{
  display: flex;
  text-decoration: none;
  width: 5.75rem;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  color: #000;
  font-family: "Pangea Trial";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

@media(max-width: 1000px){
  .abt-login{
    margin-left: 70vw;
  }
}

@media(max-width: 750px){
  .abt-login{
    margin-left: 90vw;
  }
}

@media(max-width: 600px){
  .welcome{
    flex-direction: column;
  }
  .more{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 40px;
    margin-top: 10rem;
    margin-left: 3rem;
  }

  .abt-login{
    margin-left: 43vw;
  }
  
  .more-boxes{
    display: inline-flex;
    padding: 2rem 2rem 2.625rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.0625rem;
    border-radius: 0.5rem;
    background: #FFF;
    
    /* Shadew 2 */
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
  }

  .more-img2{
    width: 67vw;
  }

  .more-content{
    font-size: 1.8rem;
    

  }

  .well-write{
    width: 100vw;
    margin-left: 5vw;
  }

  .well-content{
    width: 0rem;
    margin-left: 70px;
  }

  .well-btn{
    padding-left: 10vw;
    width: 83vw;
  }

  .well-header{
    width: 110vw;
  }

  .About-logo{
    font-size: 1.6rem;
  }

  .querie{
    margin: 0%;
    font-size: 20px;
  }

  .course{
    margin-right: 4%;
    padding: 10px;
    font-size: 20px;
  }

  .more-para{
    width: 28rem;
    font-size: 1.6rem;
  }
  
}
