@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.HomeFeed {
  font-family: "Open Sans", sans-serif;
  /* background: #2c3e50; */
  background: #f3f3f6;
  display: flex;
  /* float: left; */
  /* max-width: 75%; */
}
.Upper_part {
  position: relative;
  /* margin: auto ; */
  width: auto;
  height: 50px;
  /* margin-bottom: 5px; */
  /* background: #34495e; */
  /* background-color: greenyellow; */
  border-radius: 8px;
  font-size: 0;
  /* box-shadow: 0 2px 3px 0 rgba(0,0,0,.1); */
}
.Upper_part > a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  /* margin-bottom: 5px; */
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.animation {
  position: absolute;
  height: 5%;
  /* height: 5px; */
  /* top: 0; */
  bottom: 0;
  z-index: 0;
  color: #000;
  background: #000;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
.Upper_part > a:nth-child(1) {
  margin-bottom: 20px;
  width: 6.25rem;
}
.Upper_part > .start-home,
a:nth-child(1):hover ~ .animation {
  width: 7.5rem;
  left: 0;
}
.Upper_part > a:nth-child(2) {
  margin-bottom: 20px;
  width: 6.875rem;
}
.Upper_part > a:nth-child(2):hover ~ .animation {
  width: 7.5rem;
  left: 8.875rem;
}
.Upper_part > a:nth-child(3) {
  margin-bottom: 20px;
  width: 6.25rem;
}
.Upper_part > a:nth-child(3):hover ~ .animation {
  width: 7.5rem;
  left: 18rem;
}

.container-1 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
  /* max-width: 75%; */
  width: 40vw;
  /* background-color: rgb(3, 255, 255); */
  height: 40px;
}

.item-container-1 {
  color: #929292;
  width: 75px;
  height: 19px;
  /* background-color: rgb(0, 255, 191); */
  margin: 1px;
  padding: 10px;
}

.biggest-conatainer {
  /* display: flex; */
  box-sizing: border-box;
  float: left;
}

.yesopen {
  color: black;
  font-weight: bold;
}

.notopen {
  color: #929292;
}

.filter {
  /* background-color: red; */
  grid-column: 20;
  width: 61px;
  height: 26px;
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  /* position: fixed; */
  /* top:1000px; */
  bottom: 0;
  display: flex;
  align-items: flex-end;
}
.biggest-box {
  justify-content: center;
  /* background-color: red; */
  display: flex;
  margin-top: 3.5vw;
  flex-wrap: wrap;
  gap: 20px;
  /* max-width: 75%; */
  /* width: 30vw; */
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  /* grid-gap: 1em; */
}

.box {
  width: 19.6875rem;
  height: 15rem;
  /* background-color: aqua; */
  border-radius: 18px;
  background: #fff;
  margin: 1px;
}

.content_of_box {
  color: #656565;
  /* background-color: blue; */
  width: 19.6875rem;
  margin-left: 0;
  display: flex;
  flex: 1 0 0;
  height: 18px;
  align-items: flex-end;
  color: #656565;
  /* font-family: "Pangea Trial"; */
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-left: 9px;
  line-height: normal;
}

.Upper_part {
  position: relative;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: auto;
  height: 50px;
  /* background: #34495e; */
  /* background-color: greenyellow; */
  border-radius: 8px;
  /* bottom: 20px; */
  font-size: 0;

  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1); */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

.Upper_part a {
  margin-left: 0; /* Remove default left margin */
  margin-right: 20px; /* Add margin between anchor elements */
  /* color: rgb(255, 0, 230); Set text color */
  text-decoration: none; /* Remove underline */
  padding: 0 10px; /* Add padding for spacing */
  text-emphasis-style: bold;
}

.gugu:hover {
  font-weight: bold;
  color: black;
  /* margin-bottom: 200px; */
}
/* Adjust other styles as needed */

@media (min-width: 0px) and (max-width: 550px) {
  .HomeFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Home_img {
    width: 90%;
  }

  .Home_img {
    width: 100%;
  }

  .biggest-box {
    display: flex;
    align-items: center;
    margin-left: 40vw;
  }

  .biggest-conatainer {
    margin-left: 20px;
  }

  .box {
    width: 90vw;
    height: 70vw;
  }
}
