.homer{
    display: grid;
    /* fle */
    /* align-items: flex-end; */
   grid-template-columns: auto;
   background: #f3f3f6;
}

.Homefeed{
    float: left;
    /* position: absolute; */
}

.Infobar{
   float: right;
   /* position: relative; */
}