/* Navbar container styles */
.Navbar-container {
  z-index:100;
  top: 0; /* Stick it to the top of the viewport */
  left: 0; 
  position: fixed;
  z-index: 1000;
  background: #FFF;
  width: 100%; /* Adjusted for responsiveness */
  display: flex;
  /* justify-content: space-between; Adjusted alignment */
  align-items: center;
  padding: 0 20px; /* Adjusted padding for smaller screens */
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.03), 0px 12px 12px 0px rgba(0, 0, 0, 0.03), 0px 27px 16px 0px rgba(0, 0, 0, 0.02), 0px 48px 19px 0px rgba(0, 0, 0, 0.00), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
}

/* Navbar item styles */
.home,
.queries,
.courses,
.search,
.myprofile,
.createproject {
  display: flex;
  align-items: center;
  /* flex-shrink: 0; */
  height: 48px;
  padding: 12px 20px;
  border-radius: 4px;
  background: #FFF;
  font-family: "Pangea Trial";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color:#656565;
}
.home:link,
.queries:link,
.courses:link,
.myprofile:link,
.createproject:link {
  color: inherit; /* Use the default text color */

}


.home {
  background-color: #BAE84D;
  height: auto;
  color:black;
  
}
.queries{
  margin-left: 40px;

}
.courses{
  margin-left:30px;
}

.search-input {
  height: 45px;
  width: 30%;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  background: #F5F5F7;
  padding-left: 1%;
  margin-left: 100px;

}
.myprofile{
  color:#000;
  margin-left: 100px;
}
.createproject {
  background: rgba(186, 232, 77, 0.50);
  height: auto;
  margin-left: 100px;
  color:#000;
}

/* Adjust margins for responsive layout */
@media (max-width: 768px) {
  .home,
  .queries,
  .courses,
  .search,
  .myprofile,
  .createproject {
    padding: 10px; /* Adjusted padding for smaller screens */
  }

  .search {
    width: 100%; /* Adjusted width for smaller screens */
  }

  .queries {
    margin-left: -80px;
  }

  .courses {
    margin-left: -100px;
  }

  .search-input {
    margin-left: -50px;
  }

  .myprofile {
    margin-right: -80px;
  }
}
