@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	/* background: #2c3e50; */
    background: #f3f3f6;
    /* float: left; */
}
nav{
	position: relative;
	/* margin: auto ; */
	width: auto;
	height: 50px;
    /* margin-bottom: 5px; */
	/* background: #34495e; */
    /* background-color: greenyellow; */
	border-radius: 8px;
	font-size: 0;
	/* box-shadow: 0 2px 3px 0 rgba(0,0,0,.1); */
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
    /* margin-bottom: 5px; */
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 5%;
	/* height: 5px; */
	/* top: 0; */
	bottom: 0;
	z-index: 0;
    color: #000;
	background: #000;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
    margin-bottom: 20px;
	width: 6.25rem;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 7.5rem;
	left: 0;
}
nav a:nth-child(2){
    margin-bottom: 20px;
	width: 6.875rem;
}
nav a:nth-child(2):hover~.animation{
	width: 7.5rem;
	left: 8.875rem;
}
nav a:nth-child(3){
    margin-bottom: 20px;
	width: 6.25rem;
}
nav a:nth-child(3):hover~.animation{
	width: 7.5rem;
	left: 18rem;
}

.item-container-1{
    color: #929292;
    width:75px;
    height:19px;
    /* background-color: rgb(0, 255, 191); */
    margin: 1px;
    padding: 10px;
}

.yesopen{
    color: black;
    font-weight: bold;
}

.notopen{
    color: #929292;
}

.filter{
    /* background-color: red; */
    grid-column: 20;
    width: 61px;
    height: 26px;
    color:#919191;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    /* top:1000px; */
    bottom:0;
    display: flex;
    align-items: flex-end;
}

.biggest-box{
    /* background-color: red; */
    display: grid;
    margin:20px;
    max-width: 75%;
    grid-template-columns: repeat(auto-fit, minmax(28.6875rem, 1fr));
    grid-gap: 1em;
}

.box{
    width: 28.6875rem;
    height: 11.25rem;
    background-color: aqua;
    border-radius: 18px;
    background: #FFF;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.gugu:hover{
    font-weight: bold;
    color: black;
    /* margin-bottom: 200px; */
}
/* Adjust other styles as needed */

.greybox{
    border-radius: 4px;
    background: #D9D9D9;
    /* position: absolute; */
    left: 20px;
    top: 20px;
    width: 8.75rem;
    height: 8.75rem;
    margin-left: 20px;
}

.sideinfo{
    color: #000;
    font-family: "Pangea Trial";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-height: 3.75rem;
    align-self: stretch;
    /* margin-top: 1.25rem; */
    padding: 1.25rem;
    width: 14.4375;
}

.skills{
    display: flex;
    /* padding: 0.38rem; */
}

.new1{
    border-radius: 0.875rem;
    background: #EDECFF;
    padding: 0.04rem;
    margin:0.38rem;
}

.new2{
    border-radius: 0.875rem;
    background: #FFF1E3;
    padding: 0.04rem;
    margin:0.38rem;
}

.club{
    overflow: hidden;
color: #929292;

text-overflow: ellipsis;
font-family: "Pangea Trial";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
flex: 1 0 0;
}

.clubsss{
    display: flex;
    align-items: center;
    justify-content: center;
}